*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: grid;
    place-items: center;
    height: 100vh;
}

.text{
    width: 30%; /*Cambiamos el tañano del texto, por ende el circulo*/
    animation: spin 6s linear infinite;
    fill: #316125;
}

path{
    fill: none; /*Sin el none se ve todo negro por defecto*/
}

svg{
   height: 100vh; 
   overflow: visible; /*SALVADOR, EL MAGICO*/
}

@keyframes spin{
    0% {
        transform: rotate (0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
